<%= form_for([@committable.project,@committable,@commit]) do |f| %>
  <% if @commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commit.errors.count, "error") %> prohibited this commit from being saved:</h2>

      <ul>
      <% @commit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="std">
		<tr>
			<td class="field">Project:</td>
			<td><%= @committable.project.name %></td>
		</tr>
		<tr>
			<td class="field"><%= @committable.class.name.titleize %>: </td>
			<td><%= @committable.name %></td>
		</tr>
		<tr>
			<td class="field"><%= f.label :repository_url %>: </td>
			<td><%= text_field_tag :repository_url, @commit.repository_url %></td>
		</tr>
		<tr>
			<td class="field"></td>
			<td><%= f.submit %></td>
		</tr>
	</table>
<% end %>
