<p id="notice"><%= notice %></p>

<table class="std">
	<tr>
		<td class="field">Project:</td>
		<td><%= link_to @committable.project.name, @committable.project %></td>
	</tr>
	<tr>
		<td class="field"><%= @committable.class.name.titleize %> Name:</td>
		<td><%= link_to @committable.name, [@committable.project,@committable] %></td>
	</tr>
	<tr>
		<td class="field">Branch: </td>
		<td><%= @commit.vcs_reference %></td>
	</tr>
	<tr>
		<td class="field">VCS Reference: </td>
		<td><%= @commit.identifier %></td>
	</tr>
	<tr>
		<td class="field">VCS Info:</td>
		<td><%= @commit.vcs_info %></td>
	</tr>
	<tr>
		<td class="field">Repository: </td>
		<td><%= @commit.repository_url %></td>
	</tr>
	<tr>
		<td class="field"></td>
		<td></td>
	</tr>
</table>

<%= link_to 'Back', [@committable.project,@committable] %>
<br/>
<table class="std">
	<tr>
		<td><%= @changes.html_safe %></td>
	</tr>
	<% if @commit.repository_url != nil and not Dir.exist?(@commit.repository_url) %>
		<tr>
			<td>
				<%= link_to 'Repository moved. update url', edit_project_develement_commit_path(@committable.project,@committable,@commit) %>
			</td>
		</tr>
	<% end %>
</table>


