
<h2>Change Password</h2>

<%= form_tag update_password_users_path do %>
<table class="std">
	<tr>
		<td class="field">Existing Password : </td>
		<td><%= password_field_tag "user[old_pass]" %></td>
	</tr>
	<tr>
		<td class="field">New Password : </td>
		<td><%= password_field_tag "user[pass]" %></td>
	</tr>
	<tr>
		<td class="field">New Password Confirmation : </td>
		<td><%= password_field_tag "user[pass_confirm]" %></td>
	</tr>
	<tr>
		<td class="field"></td>
		<td><%= submit_tag "Change" %></td>
	</tr>
</table>
<% end %>

<%= link_to 'Back', show_owner_detail_users_path %>
