<% content_for :page_title do -%>
  Schedule
<% end -%>
<div class="parent_info">
  Project : <%= link_to @project.name, @project %> <br/>
  <% if @variance != nil %>
    Variance : <%= link_to @variance.name, [@project,@variance] %>
  <% end %>
</div>

<table class="std" width="80%">
  <tr>
    <th>Identifier</th>
    <th witdh="60%">Name</th>
    <th>State</th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <% if @variance != nil %>
			<td><%= link_to schedule.identifier, [@project,@variance,schedule] %></td>
			<td><%= link_to "#{schedule.name}", [@project,@variance,schedule] %></td>
    <% else %>
			<td><%= link_to schedule.identifier, [@project,schedule]  %></td>
			<td><%= link_to "#{schedule.name}", [@project,schedule] %></td>
    <% end %>
    <td align="center"><%= schedule.state.titleize %></td>
    <td>
      <% if @variance != nil %>
        <%= link_to "Delete", [@project,@variance,schedule], :method => :delete, :confirm => "Delete this variance schedule?" %>
      <% else %>
        <%= link_to "Delete", [@project,schedule], :method => :delete, :confirm => "Delete this project schedule?" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if @variance != nil %>
  <%= link_to 'New Schedule', new_project_variance_schedule_path(@project,@variance) %>
<% else %>
  <%= link_to 'New Schedule', new_project_schedule_path(@project) %>
<% end %>
