<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Attachable type</th>
    <th>Attachable</th>
    <th>Attachment class</th>
    <th>Url</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.attachable_type %></td>
    <td><%= attachment.attachable_id %></td>
    <td><%= attachment.attachment_class %></td>
    <td><%= attachment.url %></td>
    <td><%= attachment.project_id %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
