
<h2>Sync Summary</h2>

<table class="std">
	<tr>
		<td class="field">Operation : </td>
		<td><%= @ops.titleize %></td>
	</tr>
	<tr>
		<td class="field">Host : </td>
		<td><%= @host %></td>
	</tr>
	<tr>
		<td class="field">New Record Count : </td>
		<% if @history != nil %>
		<td><%= SyncHistoryDetail.where(["sync_history_id = ? and operation = ?",@history.id,SyncHistoryDetail::NEW_RECORD]).length %></td>
		<% else %>
			<td>0</td>
		<% end %>
	</tr>
	<tr>
		<td class="field">Edited Record Count : </td>
		<% if @history != nil %>
		<td><%= SyncHistoryDetail.where(["sync_history_id = ? and operation = ? and crash_flag != ?",@history.id,SyncHistoryDetail::UPDATE_RECORD,SyncHistoryDetail::IGNORED]).length %></td>
		<% else %>
			<td>0</td>
		<% end %>
	</tr>
	<tr>
		<td class="field">Ignored Record Count : </td>
		<% if @history != nil %>
		<td><%= SyncHistoryDetail.where(["sync_history_id = ? and operation = ? and crash_flag = ?",@history.id,SyncHistoryDetail::UPDATE_RECORD,SyncHistoryDetail::IGNORED]).length %></td>
		<% else %>
			<td>0</td>
		<% end %>
	</tr>
	<tr>
		<td class="field">Conflicted Record Count : </td>
		<% if @history != nil %>
			<% cnt = SyncHistoryDetail.where(["sync_history_id = ? and operation = ? and crash_flag = ?",@history.id,SyncHistoryDetail::UPDATE_RECORD,SyncHistoryDetail::CRASHED]).length %>
			<% if cnt > 0 %>
				<td><%= link_to cnt, sync_merge_index_path %></td>
			<% else %>
				<td>0</td>
			<% end %>
		<% else %>
				<td>0</td>
		<% end %>
	</tr>
	<tr>
		<td class="field">Failed to create record count : </td>
		<% if @history != nil %>
			<% cnt = SyncHistoryDetail.where(["sync_history_id = ? and operation = ? and status = 0",@history.id,SyncHistoryDetail::NEW_RECORD]).length %>
			<% if cnt > 0 %>
				<td><%= link_to cnt, sync_merge_index_path %></td>
			<% else %>
				<td>0</td>
			<% end %>
		<% else %>
				<td>0</td>
		<% end %>
	</tr>
	<tr>
		<td class="field">Failed to update record count : </td>
		<% if @history != nil %>
			<% cnt = SyncHistoryDetail.where(["sync_history_id = ? and operation = ? and status = 0",@history.id,SyncHistoryDetail::UPDATE_RECORD]).length %>
			<% if cnt > 0 %>
				<td><%= link_to cnt, sync_merge_index_path %></td>
			<% else %>
				<td>0</td>
			<% end %>
		<% else %>
				<td>0</td>
		<% end %>
	</tr>

</table>
