
<h2>Sync Summary</h2>

<table class="std">
	<tr>
		<td class="field">Operation : </td>
		<td><%= @ops.titleize %></td>
	</tr>
	<tr>
		<td class="field">Host : </td>
		<td><%= @host %></td>
	</tr>
	<tr>
		<td class="field">New Record Count : </td>
		<td><%= @syncSummary[:newRecord].length %></td>
	</tr>
	<tr>
		<td class="field">Deleted Record Count : </td>
		<td><%= @syncSummary[:delRecord].length %></td>
	</tr>
	<tr>
		<td class="field">Edited Record Count : </td>
		<td><%= @syncSummary[:editedRecord].length %></td>
	</tr>
	<tr>
		<td class="field">Conflicted Record Count : </td>
		<td>
			<% if @syncSummary[:crashed].length > 0 %>
				<%= link_to @syncSummary[:crashed].length, sync_merge_index_path %>
			<% else %>
				<%= @syncSummary[:crashed].length %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="field"></td>
		<td></td>
	</tr>
</table>
