
<table class="std" width="80%">
  <tr>
    <th colspan="<%= 2 + Develement.states.length %>"><%= link_to "Development Items", project_develements_path(@project) %></th>
  </tr>
  <tr>
    <th>Classification</th>
    <th>Total</th>
    <% Develement.states.each do |st| -%>
      <th><%= link_to st.to_s.titleize, project_develements_path(@project,:state => st.to_s) %></th>
    <% end -%>
  </tr>
  <% @stat.each do |k,v| -%>
    <tr>
      <td><%= link_to k, project_develements_path(@project,:class => v[:id]) %></td>
      <td align="right"><%= v[:stat] %></td>
      <% Develement.states.each do |st| -%>
        <td align="right">
          <% if v[st].to_i > 0 %>
            <%= link_to v[st], project_develements_path(@project,:class => v[:id], :state => st) %></td>

        <% else %>
          <%=  v[st] %></td>
      <% end %>
      <% end -%>
    </tr>
  <% end -%>
  <tr>
    <td align="right">Total : </td>
    <td align="right"><%= @project.develements.size %></td>
    <% Develement.states.each do |st| -%>
      <% if @ttl_stat[st][:total].to_i > 0 %>
        <td align="right"><%= link_to @ttl_stat[st][:total], project_develements_path(@project, :state => st) %></td>
      <% else %>
        <td align="right"><%= @ttl_stat[st][:total] %></td>
      <% end %>
    <% end -%>
  </tr>
</table>
<br/>
<table class="std" width="80%">
  <tr>
    <th colspan="<%= 2+Issue.states.size %>"><%= link_to "Issues", project_issues_path(@project) %></th>
  </tr>
  <tr>
    <th>Classification</th>
    <th>Total</th>
    <% Issue.states.each do |st| -%>
      <th><%= link_to st.to_s.titleize, project_issues_path(@project,:state => st.to_s) %></th>
    <% end -%>
  </tr>
  <% @stat2.each do |k,v| -%>
    <tr>
      <td><%= link_to k, project_issues_path(@project,:class => v[:id]) %></td>
      <td align="right"><%= v[:stat] %></td>
      <% Issue.states.each do |st| -%>
        <% if v[st].to_i > 0 %>
          <td align="right"><%= link_to v[st], project_issues_path(@project,:class => v[:id], :state => st) %></td>
        <% else %>
          <td align="right"><%= v[st] %></td>
        <% end %>
      <% end -%>
    </tr>
  <% end -%>
  <tr>
    <td align="right">Total : </td>
    <td align="right"><%= @project.issues.size %></td>
    <% Issue.states.each do |st| -%>
      <% if @ttl_stat2[st][:total].to_i > 0 %>
        <td align="right"><%= link_to @ttl_stat2[st][:total], project_issues_path(@project,:state => st) %></td>
      <% else %>
        <td align="right"><%= @ttl_stat2[st][:total] %></td>
      <% end %>
    <% end -%>
  </tr>
</table>
