<% content_for :page_title do -%>
  Projects
<% end -%>

<div style="font-weight: bold;">Project Count : <%= @projects.length %></div>	
<br />
 <table class="std">
  <tr>
    <th width="30%">Name</th>
    <th width="10%">Status</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td align="center"><%= project.state.titleize %></td>
  </tr>
<% end %>
</table>

<br />
<div style="font-weight: bold;">Project Count : <%= @projects.length %></div>	
 
<br />

<%= link_to 'New Project', new_project_path %>
