<%= form_for(@variance, :url => project_variances_path(@project)) do |f| %>
  <% if @variance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variance.errors.count, "error") %> prohibited this variance from being saved:</h2>

      <ul>
      <% @variance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="std">
    <tr>
      <td class="field"><%= f.label :name, "Variance Name :" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="field"><%= f.label :desc, "Description :" %></td>
      <td><%= f.text_area :desc, :cols => 48, :rows => 8 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
