<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tinymce %>
  <%= yield :style %>
  <%= yield :script %>
</head>
<body>
<div id="header">
    <div id="header_title">Tracker - Gen-X Issue Tracking</div>
	<div id="login">
    	Welcome <%= session[:user][:name] %> | <%= link_to 'Logout', :controller => "users", :action => 'logout' %> |
    </div>
</div>
<div id="left_menu">
    <div class="menu_item">
    <h3>Main</h3>
    <ul>
      <li><%= link_to 'Projects' , projects_path %></li>
    </ul>
		</div>

		<% @projectTags = Project.tags %>
		<% if @projectTags.length > 0 %>
    <div class="menu_item">
    <h3>Project Tags</h3>
		<ul>
			<% Project.tags.each do |tag| %>
				<li><%= link_to tag , projects_path(:tag => tag) %></li>
			<% end %>
    </ul>
		</div>
		<% end %>

		<% if Project.active_projects.length > 0 %>
    <div class="menu_item">
    <h3>Active Project</h3>
		<ul>
			<% Project.active_projects.each do |p| %>
				<li><%= link_to p.name , p %></li>
			<% end %>
    </ul>
		</div>
		<% end %>

    <div class="menu_item">
    <h3>Data Sync</h3>
    <ul>
				<li><%= link_to 'Sync Client', sync_client_index_path %></li>
				<li><%= link_to 'Sync Merge', sync_merge_index_path %></li>
        <li><%= link_to 'Sync Service', sync_service_index_path %></li>
    </ul>
    </div>

  
    <div class="menu_item">
    <h3>Administration</h3>
    <ul>
        <li><%= link_to 'User', users_path %></li>
        <li><%= link_to 'DVCS', dvcs_configs_path %></li>
    </ul>
    </div>

</div>
<div id="content">
  <div id="content_title">
    <h2><%= yield :page_title %></h2>
  </div>
	<p style="color: red"><%= flash[:error] %></p>
  <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
</div>
<div id="footer">
  <b><i>Version 0.1 (Node ID: <%= Node.first.identifier %>)</i></b> <br/>Copyrighted Antrapolation Technology Sdn Bhd 2012 - <%= Time.now.strftime("%Y") %>

</div>
</body>
</html>
